{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<h2>Character Sheet</h2>
{% if user.is_authenticated %}
<div class="row">
<!--    TODO: you'll have to edit health_full & mana_full-->
    <div class="column left">
        <h3>{{ user.username }}</h3>
        <h2>${{ user.profile.cash }}</h2>
        <progress id="health" color="red" value="{{ user.profile.health }}" max="10"></progress>
        {{ user.profile.health }} / {{ user.profile.health_full }}
        <label for="health">Health</label><br>
        <progress id="mana" value="{{ user.profile.mana }}" max="30"></progress>
        {{ user.profile.mana }} / {{ user.profile.mana_full }}
        <label for="mana">Mana</label>
    </div>
    <div class="column right">
        <h3>About</h3>
        <p>{{ user.profile.about }}</p>
    </div>
</div>
<div class="row">
    <h3>Items</h3>
<!--    TODO: you'll have to make this real-->
    <div class="row">
        <div class="column">
            <div class="card2">
                <h3>Thing 1</h3>
                <p>Some text</p>
            </div>
        </div>
        <div class="column">
            <div class="card2">
                <h3>Thing 2</h3>
                <p>Some text</p>
            </div>
        </div>
</div>
{% endif %}
{% endblock %}
