{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<h2>Character Sheet</h2>
{% if user.is_authenticated %}
<div class="row">
    <div class="column left">
        <h3>{{ user.username }}'s stats</h3>
        <p>Cash: ${{ user.profile.cash }}</p>
        <p>Health: {{ user.profile.health }}</p>
        <p>Mana: {{ user.profile.mana }}</p>
    </div>
    <div class="column right">
        <h3>About</h3>
        <p>{{ user.profile.about }}</p>
    </div>
</div>
<div class="row">
    <h3>Items</h3>
    <p>List of your items here..</p>
</div>
{% endif %}
{% endblock %}
